html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.home{
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/lined_paper.png");
}


nav, .navbar{
    background-color: rgb(74, 0, 124) !important;
}

.navbar-brand{
    color: #fff !important;
    font-size: 2em;
    padding-left: 10px;
    font-family: 'Comfortaa', cursive;
}

.save-note {
    display: none;
}

.jumbotron {
    background-color: transparent;
}

.display-4{
    font-family: 'Comfortaa', cursive;
}

.btn{
    background-color: rgb(139, 22, 218) !important;
}

.icons i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

.note-textarea,
.note-title {
    color: rgb(32, 0, 53);
    width: 100%;
    outline: none;
    border: none;
}

.note-textarea {
    resize: none;
    height: calc(100% - 63px);
    padding-top: 15px;
}

.note-title {
    height: 50px;
    margin-top: .75em;
    font-size: 3rem;
    font-family: 'Comfortaa', cursive;
}

.note-title:read-only,
.note-textarea:read-only {
    color: rgb(32, 0, 53);
}

.note-title:read-only{
    font-family: 'Comfortaa', cursive;
}

.list-container .card {
    height: calc(100vh - 70px);
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.list-container {
    padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-container i {
    font-size: 1.1rem;
    cursor: pointer;
}

.list-container .list-group-item {
    border-left: none;
    border-right: none;
    padding: 20px;
    cursor: pointer;
}